---
import type { CollectionEntry } from "astro:content";

interface Props {
  tech: CollectionEntry<"project">["data"]["technologies"][number];
}

const { tech } = Astro.props;
---

<li
  id={tech.name}
  class="py-.5 cursor-pointer rounded-full border border-default px-2 text-white drop-shadow-md transition-all duration-300 text-xs hover:bg-white hover:text-offset hover:shadow-md"
  style={{ backgroundColor: tech.color }}
>
  {tech.name}
</li>
