<section
  id="about"
  class="mx-auto flex max-w-6xl scroll-mt-24 flex-col items-center gap-4 space-y-8"
>
  <div class="flex flex-col-reverse items-center justify-center sm:flex-row">
    <div>
      <h3 class="gradient-text font-extrabold tracking-tight text-2xl">
        Full-Stack Dev
      </h3>
      <p class="mt-4 text-left">
        I am currently a fourth year undergraduate student majoring in Computer
        Science, Data Science, and Mathematics at Southern Methodist University.
        My objective is to obtain a full-time position with a business that
        compliments my degree plan and passion for software development. I am
        eager to join a forward-thinking organization where I can leverage my
        educational background, demonstrate my adaptability, produce
        high-quality deliverables, and collaborate effectively with a diverse
        team. At this time, I am actively seeking full-time software engineering
        opportunities for when I graduate in May 2024.
      </p>
    </div>
    <img
      class="mb-10 ml-0 h-[120px] w-[120px] rounded-full sm:mb-0 sm:ml-10 sm:h-[240px] sm:w-[240px]"
      src="https://avatars.githubusercontent.com/u/60279003?v=4"
      alt="Kirk Watson"
    />
  </div>
</section>
