---
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="" id="about">
  <div class="flex flex-col-reverse items-center justify-center sm:flex-row">
    <div class="max-w-md">
      <p class="mt-4 text-left">
        I am an undergraduate student at Southern Methodist University majoring
        in <strong>Computer Science</strong>, <strong>Data Science</strong>, and <strong
          >Math</strong
        >. I am interested in <strong>web developement</strong>, <strong
          >UI/UX design</strong
        > and <strong>data analysis.</strong>
      </p>
    </div>
    <img
      id="pfp-1"
      class="mb-10 ml-0 h-[120px] w-[120px] rounded-full md:mb-0 md:ml-10 md:h-[240px] md:w-[240px]"
      src="https://avatars.githubusercontent.com/u/60279003?v=4"
      alt="Kirk Watson"
    />
  </div>
</ContentSection>
