<section
  id="about"
  class="mx-auto flex max-w-4xl scroll-mt-24 flex-col items-center gap-4 space-y-8"
>
  <div
    class="mt-8 flex flex-col-reverse items-center justify-center md:mt-12 md:flex-row"
  >
    <div>
      <h3 class="gradient-text font-extrabold tracking-tight text-2xl">
        Kirk Watson
      </h3>
      <h4 class="gradient-text font-extrabold tracking-tight text-lg">
        Full-Stack Dev
      </h4>
      <p class="mt-4 text-left">
        I am an senior at Southern Methodist University majoring in Computer
        Science, Data Science, and Math. I am passionate about software
        development and artificial intelligence. I'm currently learning about
        cloud computing and data engineering.
      </p>
    </div>
    <img
      class="mb-10 ml-0 h-[180px] w-[180px] rounded-full md:mb-0 md:ml-14 md:h-[240px] md:w-[240px]"
      src="https://avatars.githubusercontent.com/u/60279003?v=4"
      alt="Kirk Watson"
    />
  </div>
</section>
