---
export interface Props {
  id: string;
  title: string;
}

const { title, id } = Astro.props;
---

<section
  id={id}
  class="mx-auto flex max-w-4xl scroll-mt-24 flex-col items-center gap-4 space-y-8"
>
  <h3 class="gradient-text text-left font-extrabold tracking-tight text-2xl">
    {title}
  </h3>
  <slot />
</section>
