---
import ThemeSwitcher from "~/components/theme-switcher.astro";
---

<header
  id="page-header"
  class="absolute bottom-0 z-20 w-full border-b border-transparent px-8 py-3"
>
  <div class="mx-auto flex w-full max-w-6xl items-center justify-between">
    <a
      id="site-title"
      class="flex scale-0 transform items-center gap-2 font-medium tracking-tight transition-all duration-500 text-lg"
      href="/"
    >
      <h1 class="sr-only">Kirk Watson</h1>
      <h1>Kirk Watson</h1>
    </a>
    <ThemeSwitcher id="theme-switcher-landing" />
  </div>
</header>

<script>
  const header = document.querySelector("#page-header") as HTMLElement;
  const page = document.documentElement;

  document.addEventListener("scroll", () => {
    const d = page.clientHeight - page.scrollTop - header.offsetHeight;
    header.classList.toggle("fixed-header", d < 0);
  });
</script>

<style>
  .fixed-header {
    @apply fixed bottom-auto top-0;
    @apply border-default bg-offset text-default;
  }

  :global(.fixed-header) #site-title {
    @apply scale-100;
  }
</style>
