---
import { getCollection } from "astro:content";
import ProjectCard from "~/components/project-card.astro";

const featuredSites = await getCollection(
  "showcase",
  ({ data }) => "featured" in data
);
const orderedSites = featuredSites.sort(
  (a, b) => a.data.featured! - b.data.featured!
);
---

<section
  id="projects"
  class="mx-auto flex max-w-4xl scroll-mt-24 flex-col items-center gap-4 space-y-8"
>
  <h3 class="gradient-text text-left font-extrabold tracking-tight text-2xl">
    Projects
  </h3>
  <div class="max-w-4xl space-y-2">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
      {orderedSites.map((site) => <ProjectCard site={site} />)}
    </div>
    <p class="text-right text-sm">
      <a class="text-primary" href="https://astro.build/showcase/">
        ...and more &rarr;
      </a>
    </p>
  </div>
  <ul class="grid w-2/3 grid-cols-2 gap-4 md:grid-cols-4">
    <li></li>
  </ul>
</section>
