---
import ThemeSwitcher from "~/components/theme-switcher.astro";
---

<header
  class="fixed top-0 z-20 w-full border-b border-default bg-offset py-3 text-default"
>
  <div class="mx-auto flex max-w-4xl items-center justify-between px-8">
    <a
      id="site-title"
      class="flex transform items-center gap-2 font-medium tracking-tight transition-all duration-500 text-lg"
      href="/"
    >
      <h1 class="sr-only">Kirk Watson</h1>
      <h1>Kirk Watson</h1>
    </a>
    <ThemeSwitcher id="theme-switcher-project" />
  </div>
</header>
