---
import type { CollectionEntry } from "astro:content";
import Head from "~/components/global/head.astro";
import ProjectHeader from "~/components/project/project-header.astro";
import ProjectNavigation from "~/components/project/project-navigation.astro";
import Footer from "~/components/global/footer.astro";
import TechBadge from "~/components/shared/tech-badge.astro";

interface Props {
  frontmatter: CollectionEntry<"project">["data"];
}

const { frontmatter } = Astro.props;
---

<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <Head title={frontmatter.longTitle} description={frontmatter.description} />
  <body
    class="h-full overflow-x-hidden bg-default text-default text-base selection:bg-secondary selection:text-white"
  >
    <ProjectHeader />
    <main
      class="mx-auto flex max-w-4xl flex-col items-center px-8 pt-24 md:pt-32"
    >
      <div>
        <h1 class="mb-4 font-medium text-4xl">{frontmatter.longTitle}</h1>
        {
          frontmatter.technologies && (
            <div class="flex flex-wrap gap-4">
              {frontmatter.technologies.map((tech) => (
                <TechBadge tech={tech} />
              ))}
            </div>
          )
        }
        <hr class="my-5" />
        <article id="markdown-content">
          <slot />
        </article>
      </div>
      <ProjectNavigation />
    </main>
    <Footer />
  </body>
</html>
